@model List<AmbientCollage.Models.Experience>

<ul id="favExperiences">
@foreach (AmbientCollage.Models.Experience exp in Model)
{
    <li>
        
        @exp.Description
        <a class="BeginExperience SnazzyLink" 
            imageLink="@exp.Visuals.LinkUrl"> - Begin Experience</a>

        <ul class="SoundList">
            @foreach (var sound in exp.Sounds)
            {
                <li soundLink="@sound.LinkUrl">
                    @sound.Description
                </li>
            } 
        </ul>
    
    </li>
}
</ul>
