@model AmbientCollage.Models.User

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/ecmascript" language="ecmascript">

    $(document).ready(function () {
        $.ajax({
            url: "LoadUserExperiences",
            cache: false,
            data: {
                userId: $('#id').val()
            },
            method: "GET",
            success: function (data) {
                $('#experienceList').html(data);
            }
        });
    });

</script>

@Html.HiddenFor(x => x.id)

<h2>Welcome @Model.UserName!</h2>

<h3>Favourite Experiences List</h3>
<ul>
    @foreach (var exp in Model.Favorites)
    {
        <li>
            @Html.ActionLink(exp.Description, "LoadExperience", exp.id)
        </li>
    }
</ul>

@Html.Partial("NewExperience", new AmbientCollage.Models.Experience());

<h3>My Experiences</h3>
<div id="experienceList">

</div>