body {
    font-size: .85em;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #DDD;
    background-color: #000;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    width: 300px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

a
{
    color: #484;
}
a:visited
{
    color: #666;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Custom Site-Wide Styles 
------------------------------------------------------------*/

#centerContent
{
    height: 70%;
    min-height: 768px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: url('images/beachRelax.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.DisplayBox
{
    background-color: #020202;
    border: 1px solid #222;
    width: 400px;
    padding: 10px;
    Opacity: .9;
}

.DisplayBox h2
{
    
}

#titleContent
{
    font-size: 1.3em;
}

#titleContent h1
{
    font-size:1.2em;
    text-align: center;
    clear: both;
}

.Left
{
    float: left;
}

.Right
{
    float: right;
}

.Clear
{
    clear:both;
}

a.SnazzyLink
{
    text-decoration: underline;
    cursor: pointer;
}

a.SnazzyLink:hover
{
    color: #3C3;
}

#favExperiences
{
    list-style: none;
}

#favExperiences li
{
    border: 1px solid #fff;
    width: 280px;
    padding: 10px;
    margin-bottom: 2px;
}